@import "bootstrap";
@import "rails_bootstrap_forms";
@import "categories";
@import "scaffolds";
@import "products";

#user-actions {
  .btn {
    position: absolute;
    top: 20px;
    right: 15px;
  }
}

#header {
  margin-bottom: 15px;
}

.footer {
  margin-top: 25px;
}
