// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-review-form {
  margin-top: 15px;
  display: none;
}

#add-review {
  margin-bottom: 10px;
}
