.panel.panel-default
  .panel-heading
    %h4 Edit category
  .panel-body
    .row
      .col-md-12.col-sm-12
        = render 'form'

#categories-actions
  = link_to 'Back', categories_path, class: 'btn btn-primary'
  = link_to 'Show', category, class: 'btn btn-info'
