.panel.panel-default
  .panel-heading
    %h4 Edit product
  .panel-body
    .row
      .col-md-12.col-sm-12
        = render 'form'

.actions
  = link_to 'Back', category_product_path(category, product), class: 'btn btn-primary'
  = link_to 'Show', category_path(category), class: 'btn btn-info'
